<div class="span6 margin-0">

        <!-- grafico principal -->
        <div id="div_toploc0" style="height:210px;" onclick="muestra_datos_manzana(0)">

                <div id="chart-toploc0" style="height:185px; position: relative; top: 35px;"></div>

                <div style="position:relative; top:-175px; text-align: left">
                    <span id="chart-toploc0_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-91px; left:5px; text-align: center">
                    <span id="chart-toploc0_value" class="text-large text-success" style="font-size:28px;">0</span>
                </div>

        </div>
        <!-- -------------------->

</div>

<div class="span6 margin-0">
        
        <div class="span12">
            <div class="btn-group btn-sg">   
                <a href="#" onclick="muestra_datos_municipio()" class="btn btn-success et-rotate" et-in="rotateCarouselLeftIn" et-out="rotateCarouselLeftOut"><i class="icon-chevron-left icon-white"></i>Municipios</a>
            </div> 
        </div>
        

        <!--<div style="border : solid 1px #ff0000; padding : 4px; width : 242px; height : 460px; overflow : auto;">-->
              <table class="table table-conddensed margin-0">
                      <thead>
                          <tr>
                              <th colspan="3">Principales localidades</th>
                          </tr>
                      </thead>
              </table>
        <div id="div_tabla_datos_localidad" style="width: 257px; height: 160px; overflow : auto; border-color: #dddddd;border-width: 1px;border-style: solid;">
              <table class="table table-conddensed margin-0">
                      <tbody id="tabla_municipios" style="font-size: 12px;">
                          <tr><td rowspan="2">BENITO JUAREZ</td><td>SI</td><td>134,000</td></tr>
                          <tr><td>NO</td><td>134,000</td></tr>
                          
                          <tr><td></td><td></td></tr>
                          <tr><td width="150px">Benito Juarez</td><td>64%</td></tr>
                          <tr><td>Othon P. Blanco</td><td>26%</td></tr>
                          <tr><td>Solidaridad</td><td>26%</td></tr>
                          <tr><td>Cozumel</td><td>26%</td></tr>
                          <tr><td>Isla Mujeres</td><td>26%</td></tr>
                          <tr><td>Felipe Carrillo Puerto</td><td>26%</td></tr>
                          <tr><td>Jose Maria Morelos</td><td>26%</td></tr>
                          <tr><td>Lazaro Cardenas</td><td>26%</td></tr>
                      </tbody>
              </table>
        </div>

</div>

<div class="span12 margin-0" style="height:180px;">
    
    <div class="span4 margin-0" style="height:180px;">
        <!-- grafico principal -->
        <div id="div_toploc1" style="height:180px; margin-top: 14px;" onclick="muestra_datos_manzana(1)">

                <div id="chart-toploc1" style="height:145px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-150px; text-align: left">
                    <span id="chart-toploc1_vframe" class="topanim-desc" style="font-size:14px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-83px; left:5px; text-align: center">
                    <span id="chart-toploc1_value" class="text-large text-success" style="font-size:26px;">0</span>
                </div>

        </div>
        <!-- -------------------->
    </div>

    <div class="span4 margin-0" style="height:180px;">
        <!-- grafico principal -->
        <div id="div_toploc2" style="height:180px; margin-top: 14px;" onclick="muestra_datos_manzana(2)">

                <div id="chart-toploc2" style="height:125px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-130px; text-align: left">
                    <span id="chart-toploc2_vframe" class="topanim-desc" style="font-size:14px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-76px; left:1px; text-align: center">
                    <span id="chart-toploc2_value" class="text-large text-success" style="font-size:24px;">0</span>
                </div>

        </div>
        <!-- -------------------->
    </div>

    <div class="span4 margin-0" style="height:180px;">
        <!-- grafico principal -->

        <div id="div_toploc3" style="height:180px; margin-top: 14px;" onclick="muestra_datos_manzana(3)">

                <div id="chart-toploc3" style="height:105px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-110px; text-align: left">
                    <span id="chart-toploc3_vframe" class="topanim-desc" style="font-size:14px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-63px; left:1px; text-align: center">
                    <span id="chart-toploc3_value" class="text-large text-success" style="font-size:19px;">0</span>
                </div>

        </div>
<!-- 
        <div id="div_toploc3" onclick="muestra_datos_manzana(3)">
            <div id="chart-toploc3" style="height:105px; margin-top: 40px;"></div>
            <span id="chart-toploc3_vframe" class="topanim-desc" style="top:-135px; font-size:14px">Othon P. Blanco</span>
            <span id="chart-toploc3_value" class="text-large text-success" style="font-size:19px; position:relative; top:-63px; left:-40px;">0</span>
        </div> -->
        <!-- -------------------->
    </div>

</div>


<div class="span12 margin-0">

      <div class="span8 margin-0">
          <div id="container" style="min-width: 250px; max-width: 380px; height: 330px;margin: 0 auto; "></div>
      </div>

      <div class="span4 margin-0">
          <!-- grafico principal -->

          <div id="div_toploc4" style="height:145px" onclick="muestra_datos_manzana(4)">

                  <div id="chart-toploc4" style="height:105px; position: relative; top: 20px;"></div>

                  <div style="position:relative; top:-112px; text-align: left">
                      <span id="chart-toploc4_vframe" class="topanim-desc" style="font-size:14px; top: 1px">Estado</span>
                  </div>
                  <div style="position:relative; top:-64px; left:1px; text-align: center">
                      <span id="chart-toploc4_value" class="text-large text-success" style="font-size:19px;">0</span>
                  </div>

          </div>
          <!-- -------------------->
      </div>

      <div id="cuadro_simbologia_localidad" class="span4 margin-0">                                                                                                                                        
      </div>


</div>


