<div class="span6 margin-0">
        <!--
        <div class="span12">
            <div class="btn-group btn-sg margin-bottom" data-toggle="buttons-radio">   
                <a href="#self" class="btn btn-inverse btn-s r2"><i class="icon-step-backward icon-white"></i></a>
                <a href="#self" class="btn btn-inverse btn-s r2"><i class="icon-stop icon-white"></i></a>
            </div> 
        </div>
        -->

        <!--<div style="border : solid 1px #ff0000; padding : 4px; width : 242px; height : 460px; overflow : auto;">-->
              <table class="table table-conddensed margin-0">
                      <thead>
                          <tr>
                              <th colspan="3">El Estado y sus municipios</th>
                          </tr>
                      </thead>
              </table>
        <div id="div_tabla_datos" style="width: 257px; height: 360px; overflow : auto; border-color: #dddddd;border-width: 1px;border-style: solid;">
              <table class="table table-conddensed margin-0">
                      <tbody id="tabla_municipios" style="font-size: 12px;">
                          <tr><td rowspan="2">QUINTANA ROO</td><td>SI</td><td>134,000</td></tr>
                          <tr><td>NO</td><td>134,000</td></tr>
                          
                          <tr><td></td><td></td></tr>
                          <tr><td width="150px">Benito Juarez</td><td>64%</td></tr>
                          <tr><td>Othon P. Blanco</td><td>26%</td></tr>
                          <tr><td>Solidaridad</td><td>26%</td></tr>
                          <tr><td>Cozumel</td><td>26%</td></tr>
                          <tr><td>Isla Mujeres</td><td>26%</td></tr>
                          <tr><td>Felipe Carrillo Puerto</td><td>26%</td></tr>
                          <tr><td>Jose Maria Morelos</td><td>26%</td></tr>
                          <tr><td>Lazaro Cardenas</td><td>26%</td></tr>
                      </tbody>
              </table>
        </div>

        <!-- grafico principal -->
        <div id="div_top3" style="height:120px; margin-top: 5px;" onclick="muestra_datos_localidad(3)">

                <div id="chart-top3" style="height:95px; position: relative; top: 23px;"></div>

                <div style="position:relative; top:-95px; text-align: left">
                    <span id="chart-top3_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-58px; left:1px; text-align: center">
                    <span id="chart-top3_value" class="text-large text-success" style="font-size:19px;">0</span>
                </div>

        </div>
        <!-- -------------------->

        <!-- grafico principal -->
        <div id="div_top4" style="height:105px" onclick="muestra_datos_localidad(4)">

                <div id="chart-top4" style="height:85px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-86px; text-align: left">
                    <span id="chart-top4_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-51px; left:1px; text-align: center">
                    <span id="chart-top4_value" class="text-large text-success" style="font-size:19px;">0</span>
                </div>

        </div>
        <!-- -------------------->

</div>

<div class="span6 margin-0">

        <!-- grafico principal -->
        <div id="div_top0" style="height:240px;">

                <div id="chart-top0" style="height:205px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-210px; text-align: left">
                    <span id="chart-top0_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-113px; left:10px; text-align: center">
                    <span id="chart-top0_value" class="text-large text-success" style="font-size:38px;">0</span>
                </div>

        </div>
        <!-- -------------------->

        <!-- grafico principal -->
        <div id="div_top1" style="height:180px;" class="et-rotate" et-in="rotateCarouselRightIn" et-out="rotateCarouselRightOut" onclick="muestra_datos_localidad(1)">

                <div id="chart-top1" style="height:145px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-150px; text-align: left">
                    <span id="chart-top1_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-83px; left:5px; text-align: center">
                    <span id="chart-top1_value" class="text-large text-success" style="font-size:28px;">0</span>
                </div>

        </div>
        <!-- -------------------->
        <!-- grafico principal -->
        <div id="div_top2" style="height:140px;" onclick="muestra_datos_localidad(2)">

                <div id="chart-top2" style="height:110px; position: relative; top: 20px;"></div>

                <div style="position:relative; top:-112px; text-align: left">
                    <span id="chart-top2_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Estado</span>
                </div>
                <div style="position:relative; top:-68px; left:1px; text-align: center">
                    <span id="chart-top2_value" class="text-large text-success" style="font-size:24px;">0</span>
                </div>

        </div>
        <!-- -------------------->

</div>


<div class="span12 margin-0">
    <div class="span8 margin-0">
        <div id="div_top5" onclick="muestra_datos_localidad(5)" style="height:145px;">

                <div id="chart-top5" style="height:130px; width:400px; margin-left:80px; top:20px;"></div>

                <div style="position:relative; top:-86px; text-align: left">
                    <span id="chart-top5_vframe" class="topanim-desc" style="font-size:15px; top: 1px">Resto de <br>los municipios</span>
                </div>
                <div style="position:relative; top:-51px; left:1px; text-align: center">
                    <span id="chart-top5_value" class="text-large text-success" style="font-size:19px;">0</span>
                </div>

            <!-- <div id="chart-top5" style="height:135px; margin-top: 1px; width:400px; margin-left:80px;top:30px;"></div>
            <span id="chart-top5_vframe" class="topanim-desc" style="top:-104px; font-size:17px">Resto de <br>los municipios</span>
            <span id="chart-top5_value" class="text-large text-success" style="position:relative; top:-86px; left:-75px;">0</span> -->
        </div>
    </div>

    <div id="cuadro_simbologia" class="span4 margin-0">                                                                                                                                        
              
              <table>
              <!-- <table style="top: 20px;font-size:smaller;color:#545454"> -->
                  <thead>
                      <tr>
                          <th colspan="2" style="font-size:18px;color:#545454">Simbolog&iacute;a</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                  <div style="width:4px;height:0;border:5px solid rgba(0,0,255, 0.65);overflow:hidden"></div>
                              </div>
                          </td>
                          <td class="legendLabel">ALIMENTOS</td>
                      </tr>
                      <tr>
                          <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                  <div style="width:4px;height:0;border:5px solid rgba(0,147,0, 0.65);overflow:hidden"></div>
                              </div>
                          </td>
                          <td class="legendLabel">ENVASE CERRADO</td>
                      </tr>
                      <tr>
                          <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                  <div style="width:4px;height:0;border:5px solid rgba(255,128,64, 0.65);overflow:hidden"></div>
                              </div>
                          </td>
                          <td class="legendLabel">DISTRIBUCIÓN</td>
                      </tr>
                      <tr>
                          <td class="legendColorBox">
                              <div style="border:1px solid #ccc;padding:1px">
                                  <div style="width:4px;height:0;border:5px solid rgba(255,0,255, 0.65);overflow:hidden"></div>
                              </div>
                          </td>
                          <td class="legendLabel">COPEO</td>
                      </tr>
                  </tbody>
              </table>
              
        
    </div>

</div>
