html, body, {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#map {
    width: 700px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0
}
#map2 {
    width: 700px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 10px;
    left: 0
}