.loading4 {
width: 100px;
height: 20px;
margin: 1px auto;
}
.bar {
    background-color:#333; border:1px solid #333; float:left;
    margin-right:8px; margin-top:1px; width:4px; height:5px;

    /* Set the animation properties */
    animation : loadingbar 1s infinite linear;
    -webkit-animation : loadingbar 1s infinite linear;
}

/* Delay both the second and third bar at the start */
.loading4 .bar:nth-child(2) { animation-delay: 0.1s; }
.loading4 .bar:nth-child(3) { animation-delay: 0.2s; }
.loading4 .bar:nth-child(4) { animation-delay: 0.3s; }

.loading4 .bar:nth-child(2) { -webkit-animation-delay: 0.1s; }
.loading4 .bar:nth-child(3) { -webkit-animation-delay: 0.2s; }
.loading4 .bar:nth-child(4) { -webkit-animation-delay: 0.3s; }
/* The actual animation */
@keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:12px; border-color:#fff; background-color:#fff; }
    20% { margin-top:0px; height:22px; border-color:#fff; background-color:#fff; }
    30% { margin-top:1px; height:20px; border-color:#fff; background-color:#fff; }
    40% { margin-top:3px; height:16px; }
    50% { margin-top:5px; height:12px; }
    60% { margin-top:6px; height:8px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}
@-webkit-keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:20px; border-color:#fff; background-color:#fff; }
    20% { margin-top:0px; height:20px; border-color:#fff; background-color:#fff; }
    30% { margin-top:10px; height:18px; border-color:#fff; background-color:#fff; }
    40% { margin-top:3px; height:14px; }
    50% { margin-top:5px; height:10px; }
    60% { margin-top:6px; height:6px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}	
