/* responsive */

@media (max-width: 979px) {
	
}

@media (max-width: 767px) {
  
  body {
  
  	padding: 0px;
  }
  
  #wrap{

	margin-left: 0px;
  }
  
  .footmenu{

	margin-left: 0px;
  }
}
  
@media (max-width: 660px) {
	
	.pagestatus{
	
		font-size: 22px;
	}
  
	.top-lplace {
	
		width: 20px;	
	}
	
	.hide-small,
	.logo.hide-small{
	
		display: none;
	}
}

@media (max-width: 520px) {
	
	.top-btn-sea {

		padding-left: 5px;
	}
  
	.top-bwidth, .top-bwidth-not {

		width: 30px;	
	}
	
	.hide-min{

		display: none;
	}
	
	.show-min{

		display: inline;
	}
	
	.notif-menu{

		left: -85px;
	}
}