
body {

	background-image: url('../design/bg.png');
	color: #444444;
	background-color: #555555;
}

/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

body {
  
	background-size: 128px 128px;
}

}


/* layout */

#wrap{

	margin-left: 186px;
}

#leftside{

	background-color:#404040;
	border-bottom: 1px solid #333333;
	margin-top: 0px;
	width: 185px;
	float: left;
	position: fixed;
	
	z-index: 10;
}

#rightside{

	margin-top: 1px;
	margin-left: 0px;
	width: 100%;
	
	min-height: 500px;
}

#rightside-login{

	margin-top: 1px;
}


div.logo{

	font-weight: 100;
	color: white;
	letter-spacing: 2px;
	display: inline-block;
	font-size: large;
	line-height: 40px;
}

#leftside-logo{

	line-height: 65px;
	padding-left: 20px;
}

#rightside-menu{

	background-color: #303030;
	height: 50px;
}

#rightside-menu-left{
	
	float: left;
	margin-left: 20px;
	line-height: 50px;
}

#rightside-menu-right{
	
	float: right;
	margin-right: 20px;
}

#rightside-content{
	
	margin-left: 0px;
	margin-top: 0px;
}

#rightside-space{

	display:table;
	width: 100%;
}


div.scroll{
	
	overflow: auto;
	width: 100%;
	display: table;
}


table.layout{

	width: 100%;
}

table.layout > tbody > tr > td,
table.layout-condensed > tbody > tr > td{

	padding: 0px;
}


/* tables */

.table tbody tr.success td {

  background-color: #83f87e;
}
.table tbody tr.error td {

  background-color: #f87e7e;
}
.table tbody tr.warning td {
  background-color: #f8f57e;
}
.table tbody tr.info td {
  background-color: #7ec4f8;
}
.table-hover tbody tr.success:hover td {
  background-color: #5af654;
}
.table-hover tbody tr.error:hover td {
  background-color: #f65454;
}
.table-hover tbody tr.warning:hover td {
  background-color: #f6f254;
}
.table-hover tbody tr.info:hover td {
  background-color: #54b0f6;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 0px;
  -moz-border-radius: 0 0 0 0px;
  border-radius: 0 0 0 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}


.label-info,
.badge-info {
  background-color: #54b0f6;
}

.label-success,
.badge-success {
  background-color: #5af654;
}

.label-warning,
.badge-warning {
  background-color: #f6ba54;
}

.label-important,
.badge-important {
  background-color: #f65454;
}

.label {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  
  text-shadow: none;
}

.badge{
	text-shadow: none;
}



.icon-rpos{
	margin-top: 3px;
	margin-right: 4px;
}


/* outline */

.demo{
}

.demo:hover{
	border-top: 2px solid red;
	border-bottom: 2px solid red;
}

.space{
	height: 10px;
}

/* popover */
/*
.popover-title {
  	border-bottom: 1px dotted #d2d2d2;
  	background-color: #f5f5f5;	
	background-image: url('../design/tableh2.png');
}

.popover-text{
	background-image: url('../design/tableh2.png');
	border-bottom: 1px dotted #d2d2d2;
}
*/


/* tooltip */

.tooltip-inner {
	background-color: #f0f0f0;
	background-image: url('../design/tableh2.png');
	color: #000000;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #f5f5f5;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f5f5f5;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #f5f5f5;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #f5f5f5;
}



/* progress */

.progress {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.progress .bar {
  background-color: #666666;
}

.progress-danger .bar,
.progress .bar-danger {
	background-color: #f65454;
}

.progress-warning .bar,
.progress .bar-warning {
	background-color: #f6ba54;
}

.progress-success .bar,
.progress .bar-success {
	background-color: #5af654;
}

.progress-info .bar,
.progress .bar-info {
	background-color: #54b0f6;
}



/* pagination */

.pagination {
  margin: 0px;
}

.pagination ul > li > a,
.pagination ul > li > span {
  border: 1px solid #cccccc;
  border-left-width: 0;
}


/* text */

.text-error {
  color: #ff0000;
}

.text-imp {
	font-weight: 300;
}

.full {
	padding-right: 0px;
	padding-left: 0px;
}

.white{
	color: white;
}

.red{
	color: red;
}


h1, h2, h3, h4, h5, h6{
	color: gray;
	font-weight: 300;
}



/* space */

.vspace1{
	height: 20px;
}

.vspace2{
	height: 40px;
}

.vspace3{
	height: 40px;
}


.ibox{
	background-color: #f0f0f0;
	padding: 1px;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}

.row-ibox{
	background-color: #f0f0f0;
	border-left: 1px solid #cccccc;
}

.ibox-space{
	height: 1px;
	background-color: #cccccc;
	margin-top: 2px;
	margin-bottom: 2px;
}

.ibox-top{
	background-color: #f0f0f0;
	padding: 1px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
}

.ibox-bottom{
	background-color: #f0f0f0;
	padding: 1px;
	border-top: 1px solid #cccccc;
	margin-top: 20px;
}

.ibox-middle{
	background-color: #f0f0f0;
	padding: 1px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ibox-hero{
	background-color: #f8f8f8;
	background-image: url('../design/hero.png');

	padding: 1px;
	border: 1px solid white;
	margin: 1px;	
	
	box-shadow: inset 0 0 3px 0px #cccccc;
	-moz-box-shadow: inset 0 0 3px 0px #cccccc;
	-webkit-box-shadow: inset 0 0 3px 0px #cccccc;
}

.page-header-box{

	background-image: url('../design/b-05.png');
	padding: 10px;
	margin-bottom: 20px;	
	color: #50bbfc;
	font-size: large;
	font-weight: 100;
}

.god{
	box-shadow: inset 0 0 4px 0px #999999;
	-moz-box-shadow: inset 0 0 4px 0px #999999;
	-webkit-box-shadow: inset 0 0 4px 0px #999999;
}

.ibox-c{
	background-color: white;
	
	-moz-box-shadow: 0 0 1px 1px #c2c2c2;
	-webkit-box-shadow: 0 0 1px 1px #c2c2c2;
	box-shadow: 0 0 1px 1px #c2c2c2;
	
	margin-bottom: 20px;
	
	width: 135px;
	height: 135px;
	
	-webkit-border-radius: 67.5px;
  	-moz-border-radius: 67.5px;
  	border-radius: 67.5px;
  	
  	text-align: center;

	line-height: 135px;
}




.center{
	margin-left:auto;
	margin-right:auto;
}

.vcenter82{
	line-height: 82px;
	margin: 0px;
}

.text-center{
	text-align: center;
}

.height-50{
	height: 50px;
}

.height-80{
	height: 80px;
}

/* box 1 */

.box-r{
	
	background-color: #e0e0e0;
	
	padding: 1px;
	
	-moz-box-shadow: 0 0 3px 1px #444444;
	-webkit-box-shadow: 0 0 3px 1px #444444;
	box-shadow: 0 0 3px 1px #444444;
	
	margin-bottom: 20px;
	
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;	
}

.box-r.imp{

	border: #dddddd 1px solid;
	background-color: #474747;

}

.collapse.in {
  height: auto;
  
}

/* box 2 */

.box-c{
	background-color: #e0e0e0;
	
	-moz-box-shadow: 0 0 3px 1px #444444;
	-webkit-box-shadow: 0 0 3px 1px #444444;
	box-shadow: 0 0 3px 1px #444444;
	
	margin-bottom: 20px;
	
	width: 135px;
	height: 135px;
	
	-webkit-border-radius: 67px;
  	-moz-border-radius: 67px;
  	border-radius: 67px;
  	
  	text-align: center;

	line-height: 135px;
	
	overflow: hidden;
}



.font24{
	font-size: 24px;
}

.font36{
	font-size: 36px;
}

.box-c-title{
	color: #999999;
	width: 135px;
	margin-bottom: 20px;
	text-align: center;
	margin-top: -10px;
	font-weight: 200;
}

/* icon */

.icon-btn-mini{
	margin-top: -1px;
}

.iconstyle-normal{
	margin: 3px;
	opacity: 0.8;
}

.iconstyle-normal-disabled{
	margin: 3px;
	opacity: 0.3;
}

.iconstyle-box{
	background-color: #f5f5f5;
	margin: 3px;
	border-width: 4px;
	opacity: 0.8;
}

.lmenu{
	background-image: url('../design/mbg.png');
	background-repeat: repeat;
}

.navi-el{
	color: #ff0000;
}


i{
	opacity: 0.85;
}

.tra{
	opacity: 0.5;
}

.tra-0
{
	opacity: 1;
}

.border-radius0{
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
} 


.label33{
	background-color: #303030;
	float: right;
	margin-top: 15px;
	padding: 5px;
	color: red;
	
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}

.menubadge333 {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #303030;
  color: red;
}


.menubadge44 {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ff0000;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  padding-left: 9px;
  padding-right: 9px;
  
  background-color: #303030;
  
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  
  float: right;
  margin-top: 16px;
}

.menubadge2 {


	border: 2px solid #999999;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
  	-moz-border-radius: 20px;

	padding-left: 6px;
	padding-right: 6px;
	
	text-align: center;
	
	line-height: 28px;
	color: #ffffff;
	
}

.tabopt{
	
	font-size: 12px;

}

/* breadcrumb cd… */

.pagestatus{

	background-image: url('../design/b-05.png');
	border-bottom: 1px solid #333333;
	
	padding-left: 20px;
	padding-right: 20px;
	font-size: 24px;
	color: #50bbfc;
	font-weight: 100;	
	position: relative;
	
	line-height: 69px;
}

.breadcrumb{
	background-color: transparent;
	
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  	
  	display: inline;

	padding: 0px;
	padding-left: 20px;
	text-decoration: none;
	
	color: #404040;
	margin: 0px 0px 22px;
	padding-bottom: 1px;
		
	line-height: 43px;
}

.breadcrumb > li{
	
	text-shadow: 1px 1px #777777;
	
}

.breadcrumb a{
	
	color: #404040;
	text-decoration: none;
	border-bottom: #50bbfc dotted 1px;
}

.o-pagestatus{

	background-image: url('../design/b-05.png');
	border-bottom: 1px solid #333333;
	
	line-height: 16px;
	padding-left: 33px;
	padding-right: 33px;
	font-size: 28px;
	color: #50bbfc;
	height: 73px;
	padding-top: 8px;
	margin-bottom: 22px;
	font-weight: 100;	
	position: relative;
	
}

.o-breadcrumb{
	background-color: transparent;
	
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  	
  	display: inline;
  	font-size: 12px;

	padding: 0px;
	
	color: #666666;
	text-shadow: none;
	
	line-height: 12px;
}

.pagestatus-right{
	float: right;
	font-size: 14px;
	margin-right: 20px;	
	position: absolute;
	top:0px;
	right: 0px;
}

.page-header {
	
	border-color: #454545;
	border-width: 1px;
	color: #404040;
	text-align: right;
	margin: 0px 0px 22px;
	padding-bottom: 1px;	
	line-height: 37px;
	text-shadow: 1px 1px #777777;
}

.page-header > a{
	
	border-bottom: #50bbfc dotted 1px;
	color: #404040;
}

.page-header > a:hover{
	
	text-decoration: none;
}



/* grid */

.container-fluid {
  	padding-right: 5px;
  	padding-left: 5px;
  	padding-top: 5px;
}

.container-box {
  	padding-right: 3%;
  	padding-left: 3%;
}

.container-box.margin-top {
	margin-top: 1% 
}

.maincontainer {
  	padding-right: 0px;
  	padding-left: 0px;
}

.container-end{
	height: 37px;
}

/*spr*/
.nomarg {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-left: 0px;
	border-right: 0px;
}


.m1{
	padding-right: 0px;
  	padding-left: 0px;
  	width: 20%;
  	display: block;
}

.m2{
	padding-right: 0px;
  	padding-left: 0px;
  	width: 70%;
  	float: right;
  	display: block;
}



/* ----------------------------------------- ok */

.test{
width: 100%;
height: 100px;
background-color: aqua;
padding: 10px;
border: 10px solid gray;
margin: 10px;
}

.t1{
color:red}



/* box - r */ 

.box-r-top{

	line-height: 37px;
	height: 37px;
	overflow: hidden;
	position: relative;
}


.box-r-top-icon{
	
	padding: 4px;
	margin-left: 5px;
}

.box-r-top-title{

	color: #303030;
	padding-left: 5px;	
	font-weight: 200;
}

.imp .box-r-top-title{

	color: white;
}

.box-r-top-left{
}

.box-r-top-right{
	padding-left: 10px;
	padding-right: 10px;
	
	position: absolute;
	top:0px;
	right: 0px;
	
	line-height: 37px;
	
	background-color: #e0e0e0;
}

.imp .box-r-top-right{

	background-color: #474747;
}

.box-r-top-right > a{
	color: #a3a3a3;
}

.box-r-top-right > a:hover{
	color: #a3a3a3;
	text-decoration: none;
}

.btn-group-top
{
	margin-top: 0px;
	vertical-align: top;
}

.btn-group-top .btn
{
	vertical-align: top;
	margin-top: 6px;
}

.btn-group-status
{
	margin-top: -5px;
}

.box-r-test{
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}

.r1ic, .t1it, .r1ig{
	display: inline;
	background-color: aqua;
	color: red;
}


.box-r-status{
	color: #303030;
	font-size: small;
	
	line-height: 22px;

	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 200;
}

.imp .box-r-status{

	color: white;
}

.box-r-content{
	
	background-color: white;
	padding-top: 1px;
	padding-bottom: 1px;
}

.box-r-content.imp{
	background-color: transparent;
	color: white;
}

/* modal */

.modal-header {
	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: dotted;
}

.modal-footer {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

	border-top: 1px solid #cccccc;
}



/* alert */

.alert{
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  	
  	color: #444444;
  	background-color: #f8f57e;
  	margin-bottom: 0px;
  	
  	background-image: url('../design/alert.png');
  	
  	border-bottom-width: 1px;
	border-bottom-color: #d2d2d2;
	border-bottom-style: dotted;
}

.alert-success{
	background-image: url('../design/alert-success.png');
	background-color: #83f87e;
}

.alert-error{
	background-image: url('../design/alert-error.png');
	background-color: #f87e7e;
}

.alert-info{
	background-image: url('../design/alert-info.png');
	background-color: #7ec4f8;
}

.alert-header
{
	border-left-width: 1px;
	border-left-color: #d2d2d2;
	border-left-style: dotted;

	border-right-width: 1px;
	border-right-color: #d2d2d2;
	border-right-style: dotted;
	
	border-top-width: 1px;
	border-top-color: #d2d2d2;
	border-top-style: dotted;
	
	margin-bottom: 22px;
	
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;	
}


.container-box .span1,
.container-box .span2,
.container-box .span3,
.container-box .span4,
.container-box .span5,
.container-box .span6,
.container-box .span7,
.container-box .span8,
.container-box .span9,
.container-box .span10,
.container-box .span11,
.container-box .span12{
	margin-bottom: 3%;
}

.span1.margin-0,
.span2.margin-0,
.span3.margin-0,
.span4.margin-0,
.span5.margin-0,
.span6.margin-0,
.span7.margin-0,
.span8.margin-0,
.span9.margin-0,
.span10.margin-0,
.span11.margin-0,
.span12.margin-0{
	margin-bottom: 0px;
}





/* charts */

.chart-area{

	background-color: #f8f8f8;
	padding: 10px;
}

.chart{	
}

div.graph
		{
			width: 100%;
			height: 145px;
			float: left;
			border: 0px dashed yellow;
		}

.topanim{
	text-align: center;
}

.topanim-desc{
	
	top:-85px;
	position: relative;
	
	color: black;
	line-height: 20px;
	padding: 1px;
	margin: 0px;	
	margin-bottom: -28px;
}

.topanim-desc.inverse{
	
	color: white;
}

.text-large{
	font-size: large;
}


		

/* topmenu */  

.topmenu-mainopt{
	font-weight: 200;
}


.topmenu-menu
{

	background-color: #474747;
	left: -20px;
}

.topmenu{
	padding-left: 7px;
	padding-right: 7px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.topmenu-opt-info{
	color: #999999;
	float: left;
	margin-top: 5px;
	width: 20px;
	text-align: left;
}	

.topmenu > li{
	color: white;
	line-height: 16px;
	font-size: small;
	font-weight: 200;
}
	
.topmenu-opt{
	text-align: left;
	overflow: hidden;
	color: #999999;	
}

.topmenu-opt > a{
	color: white;
	display: block;
	padding: 5px;
}

.topmenu-opt > a:hover{
	color: white;
	background-color: #424242;
	text-decoration: none;
}

.topmenu-opt > a:visited{
	color: white;
}

.topmenu-opt > a:link{
	color: white;
}

.topmenu-opt > .disabled{
	color: #999999;
	display: block;
	padding: 5px;
}

.topmenu-badge {

	display: inline-block;

	padding-left: 5px;
	padding-right: 5px;
		
	text-align: center;
	
	color: #50bbfc;
	
	font-size: 12px;
	
	vertical-align: bottom;
}

.topmegnu-badge {

	display: inline-block;
	border: 1px solid #dddddd;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
	
	float: left;	
	text-align: center;
	
	line-height: 20px;
	color: #ffffff;
	
	margin-top: 14px;
	margin-right: 25px;
}

.topmenu-badge.hide {
	display: none;
}


.leftmenu2{
	margin-right: 20px;
}

.topmenu-opt2{
	color: white;
	overflow: hidden;
	border-bottom: 1px #999999 dashed;
	max-height: 70px;
}



/* leftmenu */      
          
.leftmenu{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}          

.leftmenu-opt{
	line-height: 13px; /*43px*/
	padding-left: 0px;
}

.leftmenu-opt i{
	margin-right: 7px;
}

.leftmenu-activeopt {
	/* background-image: url('../design/opt.png'); */
	
}

.leftmenu-opt > a{
	
	margin-right: 0px;
  	margin-left: 0px;
  	text-shadow: none;
	padding-left: 15px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #dddddd;
	font-weight: 200;
	
	border-bottom: 1px solid #282828;
	box-shadow: 0px 1px 1px 0px #505050;
	-moz-box-shadow: 0px 1px 1px 0px #505050;
	-webkit-box-shadow: 0px 1px 1px 0px #505050;
	text-shadow: 1px 1px #333333;
}

.leftmenu-opt > a.more{
	
}
	
.leftmenu-opt.leftmenu-activeopt > a{
	color: #50bbfc;
}

.nav > .leftmenu-opt > a:hover{
  text-decoration: none;
  background-color: transparent;
/*  background-image: url('../design/opt.png'); */
}

.leftmenu-opt .disabled,
.leftmenu-opt.disabled{
	padding-left: 15px;
	font-weight: 200;
	color: #999999;
	
	border-bottom: 1px solid #282828;
	box-shadow: 0px 1px 1px 0px #484848;
	-moz-box-shadow: 0px 1px 1px 0px #484848;
	-webkit-box-shadow: 0px 1px 1px 0px #484848;
}

.leftmenu-badge {

	display: inline-block;
	border: 1px solid #999999;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
	
	float: right;	
	text-align: center;
	
	line-height: 20px;
	color: #ffffff;
	
	margin-top: 12px;
	margin-right: 15px;

}

.leftmenu-badge.hide {
	display: none;
}
	
.leftmenu-sub{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 1px;
	background-color: #303030;
	
	margin-bottom: 0px;
} 

.leftmenu-sub > li > .disabled,
.leftmenu-sub > li.disabled{
	padding-left: 36px;
	font-weight: 200;
	line-height: 25px;
	color: #666666;
	line-height: 37px;
	font-size: small;
	border-bottom: 1px solid #282828;
	box-shadow: 0px 1px 1px 0px #383838;
	-moz-box-shadow: 0px 1px 1px 0px #383838;
	-webkit-box-shadow: 0px 1px 1px 0px #383838;
}

.leftmenu-sub > li > a{
	margin-right: 0px;
  	margin-left: 0px;
  	text-shadow: none;

	color: #dddddd;	
	border-bottom: 1px solid #282828;
	box-shadow: 0px 1px 1px 0px #383838;
	-moz-box-shadow: 0px 1px 1px 0px #383838;
	-webkit-box-shadow: 0px 1px 1px 0px #383838;
	
	padding-left: 36px;
	line-height: 37px;
	font-weight: 200;
	
	font-size: small;
}

.leftmenu-sub > li > a:hover{
  text-decoration: none;
  background-color: #3d3d3d;
}

.leftmenu-sub-activeopt {
	background-color: #272727;
}

.leftmenu-sub-badge {

	display: inline-block;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;

	padding-left: 5px;
	padding-right: 5px;
	
	float: right;	
	text-align: center;
	
	line-height: 18px;
	color: #aaaaaa;
	
	margin-top: 10px;
	margin-right: 15px;
	
	background-color: #383838;
}

.leftmenu-sub-badge.hide {
	display: none
}

.btn-logo{
	padding: 0px;
	padding-right: 5px;
	padding-left: 5px;

	margin-left: 5px;
}

/* info button */

.btn-sg
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn-s
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	font-weight: 200;
}

.r1{
	width: 100%;
}

.r2{
	width: 50%;
}

.r3{
	width: 33%;
}

.r4{
	width: 25%;
}

.r5{
	width: 20%;
}

.r6
{
	width: 16.7%;
}

.ramax{
	width: 95%;
}





/* social */

.social-heading
{

}

.media-heading {
  font-size: small;
}

.media-body {
  font-size: small;
}



/* forms */

.form-box{
	background-color: #f5f5f5;
	padding: 10px;
	background-image: url('../design/tableh.png');
	margin-bottom: 0px;	
}

.form-nomargin
{
	display: inline;
}


selectd,
textardea {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  vertical-align: middle;
}

optiosn {
	line-height: 14px;
	color: red;
}

selesct{
	height: 22px;
}



input,
textarea{
	margin-bottom: 0px;
}

input.span1,
input.span2,
input.span3,
input.span4,
input.span5,
input.span6,
input.span7,
input.span8,
input.span9,
input.span10,
input.span11,
input.span12{
	margin-bottom: 0px;
}
.container-box input.span1,
.container-box input.span2,
.container-box input.span3,
.container-box input.span4,
.container-box input.span5,
.container-box input.span6,
.container-box input.span7,
.container-box input.span8,
.container-box input.span9,
.container-box input.span10,
.container-box input.span11,
.container-box input.span12{
	margin-bottom: 0px;
}


.container-box textarea.span1,
.container-box textarea.span2,
.container-box textarea.span3,
.container-box textarea.span4,
.container-box textarea.span5,
.container-box textarea.span6,
.container-box textarea.span7,
.container-box textarea.span8,
.container-box textarea.span9,
.container-box textarea.span10,
.container-box textarea.span11,
.container-box textarea.span12{
	margin-bottom: 0px;
}

.container-box select.span1,
.container-box select.span2,
.container-box select.span3,
.container-box select.span4,
.container-box select.span5,
.container-box select.span6,
.container-box select.span7,
.container-box select.span8,
.container-box select.span9,
.container-box select.span10,
.container-box select.span11,
.container-box select.span12{
	margin-bottom: 0px;
}

input[type="text"].mifni,
textarea.minfi{
  margin-bottom: 0px;
}


textarea.minih{
  margin-bottom: 0px;
  line-height: 12px;
}

input[type="text"].minih{
  margin-bottom: 0px;
  line-height: 12px;
  height: 12px;
}

select.minih{
  margin-bottom: 0px;
  height: 22px;
}

select[multiple="multiple"].minih{
  height: auto;
}

select.minih option{
  margin-bottom: 0px;
  line-height: 12px;
  height: 22px;
}


.input-append{
	margin-bottom: 0px;
}

.input-prepend{
	margin-bottom: 0px;
}

.control-label{
	background-color: white;
	font-size: 12px;
	display: inline;
	padding: 3px;
	margin-bottom: 3px;
	color: #444444;
}

.help-block{
	font-size: 12px;
	color: #999999;
	margin-bottom: 0px;
}

.control-group{
	margin-bottom: 10px;
}


/* interface */

.box-badge {

	display: inline-block;
	border: 1px solid #666666;
	
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
	border-radius: 12px;

	padding-left: 6px;
	padding-right: 6px;
		
	text-align: center;
	
	line-height: 20px;
	color: black;
	margin-left: 5px;
}

.box-badge.hide {
	display: none;
}

.status-badge {

	display: inline-block;
	border: 1px solid #50bbfc;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
		
	text-align: center;
	
	line-height: 20px;
	color: #50bbfc;

	margin-left: 5px;
	
	font-size: 14px;
	
	vertical-align: middle;
	margin-top: -5px;
}

.status-baddge {

	display: inline-block;
	border: 1px solid #bbbbbb;
	
	border-radius: 14px;
	-webkit-border-radius: 14px;
  	-moz-border-radius: 14px;
  	
	padding-left: 4px;
	padding-right: 4px;
		
	text-align: center;
	
	line-height: 24px;
	color: white;
	
	margin-left: 8px;
	
}

.status-badge.hide {

	display: none;
}

.header-badge {

	display: inline-block;
	border: 1px solid #444444;
	
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
	border-radius: 12px;

	padding-left: 6px;
	padding-right: 6px;
		
	text-align: center;
	
	line-height: 20px;
	color: #aaaaaa;
	
	margin-left: 2px;
}

.header-badge.hide {

	display: none;
}


.btn-badge {

	display: inline-block;
	border: 1px solid #aaaaaa;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
		
	text-align: center;
	
	line-height: 20px;
	color: #000000;
}

.box-badge.badge-red{
	color: #f65454;
}



/* tabs */

.nav-tabs{
	margin-bottom: 0px;
}



/* table */

.table {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.table-search{
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	
	padding-bottom: 10px;
}

.table-search-opt{	
	margin-bottom: 0px;
	padding: 0px;
}

.table-bordered {
	
	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  
	
	border-right: 1px dashed #dddddd;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px dashed #dddddd;
}

.table th {
  background-color: #f0f0f0;
  font-weight: 300;
}

.table th>a {
	color: #444444;
}

.label-90 {
	width: 90px;
	text-align: center;
}

.table-head, .table-foot{
	background-color: #f5f5f5;
	padding: 10px;
	background-image: url('../design/tableh2.png');	
}

.table-results{
	margin-top: 2px;
	background-color: #dddddd;
	padding: 10px;
	background-image: url('../design/tableh2.png');	
	border-top: 1px dashed #dddddd;	
}

.table-condensed{
	font-size: small;
}

tr.lighter{
	background-color: white;
}

tr.darker{
	background-color: #f9f9f9;
}


/* footmenu */

.footmenu{

	font-size: small;
	color: #202020;
	padding-top: 37px;
	background-color: #50bbfc;
	margin-left: -186px;
}

.footmenu a{

	color: white;
}


/* other */

.padding-10 {
	padding: 10px;
}

.padding-0 {
	padding: 0px;
}

.margin-top0{
	margin-top: 0px;
}

.margin-bottom0{
	margin-bottom: 0px;
}

.margin-0 {
	margin: 0px;
}

.margin-bottom{
	margin-bottom: 20px;
}

.margin-top{
	margin-top: 20px;
}

.margin-right{
	margin-right: 10px;
}

.margin-left{
	margin-left: 10px;
}

.margin-both{
	margin-top: 20px;
	margin-bottom: 20px;
}


.background-red{
	background-color: red;
	background-image: url('../design/bg-red.png');
}

.background-gray{
	background-color: #424242;
	background-image: url('../design/bg-gray.png');
}

.background-gray-solid{
	background-color: #424242;
}



/* calendar */

#calendar {
	width: 100%;
	margin: 0 auto;
}
		
		
		
.top-rrm{
	width: 20px;
}

.top-lplace {
	
	width: 165px;	
}

.top-lplacelogin {
	
	width: 165px;	
}

.top-bwidth {
	width: 50px;	
}

.top-btnd {
	float: left;
}

.top-btn {
	background-image:url('../design/opt2.png'); 
	text-align:center;	
	border-left: 1px #3a3a3a solid; 
	float: left;
	height: 50px;
	color: #888888;
}

.btn-label{
	line-height: 15px;
	margin-top: 15px;
	font-size: 10px;
}

.btn-label a{
	color: #666666;
}

.top-bwidth-not {
	width: 75px;	
}

.top-btn-sea {
	padding-left: 19px;
	border-left: 1px #3a3a3a solid;	
	float: left;
	height: 50px;
}

.shutdown{
	text-align: left;
}
  
.topmenu-left{
  	
  	left: -1px;
  	top: 46px;
}

.notif-menu{

	width: 250px;
	left: -50px;
	z-index: 10;
}

.notif-box{
	width: 250px;
	position: fixed;
	top: 60px;
	right: 20px;
	left: auto;
	border-color: #dddddd;
	z-index: 9;
}

.topmenu-menu img{

	width: 30px;
	display: inline;
	float: right;
	border: 1px dotted white;
	top:0px;
	margin-left: 5px;
}

#ndotif-menu-last{
	width: 250px;
	position: fixed;
	top:65px;
	left:auto;
	right: 20px;
	z-index: 10;
	display: none;
	background-color: #333333;
}

		
.notif-info{
	width: 50px;
}

.notif-opt{
	height: 40px;
	margin-bottom: 0px;
}

.notif-opt > a{
	height: 40px;
	color: white;
	display: block;
	padding: 5px;
}


.show-min{
		display: none;
	}
	



/* PROPIOS */

body {
	line-height: 18px;
}

.table th, .table td {
	padding: 5px;
	vertical-align: middle;
}

.container-box {
	padding-right: 1%;
	padding-left: 0.5%;
}

.container-box.margin-top {
	margin-top: 1%;
}

.container-box .span1,
.container-box .span2,
.container-box .span3,
.container-box .span4,
.container-box .span5,
.container-box .span6,
.container-box .span7,
.container-box .span8,
.container-box .span9,
.container-box .span10,
.container-box .span11,
.container-box .span12{
	margin-bottom: 1%;
}



.et-wrapper {
	width: 100%;
	height: 800px;
}

/*.et-page:nth-child(1) {
	background: red;
}
.et-page:nth-child(2) {
	background: blue;
}
.et-page:nth-child(3) {
	background: purple;
}*/



.modal-body {
position: relative;
max-height: 900px;
padding: 5px;
overflow-y: auto;
}

.txt_nombre_localidades {
    position: absolute;    
    font-size:7px;
}

		.legend, .temporal-legend {
		    padding: 6px 10px;
		    font: 14px/16px Arial, Helvetica, sans-serif;
		    background: white;
		    background: rgba(255,255,255,0.8);
		    /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
		    border-radius: 5px;
		    width: 100%;
		}
		#legendTitle {
			text-align: center;
			margin-bottom: 15px;
			font-variant: small-caps;
			font-size: 1.2em;
			margin-top: 3px;
			font-weight: bold;
			color: black;
		}
		.symbolsContainer {
		    float: left;
			margin-left: 50px;
			margin-right: 35px;
		}
		.legendCircle {
		     border-radius:50%; 
		     border: 1px solid #537898; 
		     background: rgba(113, 133, 152, .6);
		     margin: 4px auto 0;
			 display: inline-block;
		}
		.legendValue {
		    position: absolute;
		    right: 8px;
		}
		.range-slider {
		    width: 250px;
		}
		.temporal-legend {
		    font-size: 1.2em;
		    text-align: center;
		}
