
body.theme_blue{

	background-image: none;
	background-color: #4e6781;
}

body.theme_green{

	background-image: none;
	background-color: #4e8161;
}


.btn-rect{
	
	width: 9px;
	height: 12px;
	margin: 2px;
}

.btn-rect.default{

	border: 1px solid #666666;
	width: 7px;
	height: 10px;
}

.btn-rect.blue{

	background-color: #4e6781;	
}

.btn-rect.green{

	background-color: #4e8161;
}